---
import projectsData from "@/data/projectsData";
import Button from "./Button.astro";
---

<div class="portfolio-swiper">
  {
    projectsData.map((project) => (
      <div class="slider-wrapper">
        <figure class="project-slider">
          <div class="overlay-container">
            <img
              loading="lazy"
              decoding="async"
              src={project.img?.src.replace(/(\.png|\.jpg)/, ".avif")}
              alt=""
              width={project.img?.width}
              height={project.img?.height}
            />
            <div class="button-group">
              <Button
                as="a"
                variant="circle"
                size="xs"
                text="Demo"
                icons={{ name: "link", side: "left" }}
                href={project.link}
                target="_blank"
                class="code-link"
              />
              {project?.code && (
                <Button
                  as="a"
                  variant="circle"
                  size="xs"
                  text="Code"
                  icons={{ name: "code", side: "left" }}
                  href={project?.code}
                  target="_blank"
                  class="code-link"
                />
              )}
            </div>
          </div>
          <figcaption class="detail">
            <p class="title">{project.title}</p>
            <p class="description">{project.desc}</p>
          </figcaption>
          <div class="chips-group">
            {project.techs.map((tech) => (
              <span class="chip">{tech}</span>
            ))}
          </div>
        </figure>
      </div>
    ))
  }
</div>

<style>
  .portfolio-swiper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    margin-top: 3rem;
    gap: 2rem;
    width: 100%;
    height: 70%;
    padding-inline: 3rem;

    @media (max-width: 960px) {
      padding-inline: 0;
    }
  }

  .slider-wrapper:hover > .project-slider {
    transition: all 200ms ease-out;
    scale: 0.9;
    filter: drop-shadow(1px 2px 13px rgba(0, 0, 0, 0.25));
    border-color: transparent;
  }

  .slider-wrapper > .project-slider {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.26);
    border: 2px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    box-shadow: var(--boxShadow);
    border-radius: 1.25rem;
    transition: all 600ms ease-in;
  }

  .portfolio-swiper .project-slider img {
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: drop-shadow(0px 2px 13px rgba(0, 0, 0, 0.25));
    background: rgba(255, 255, 255, 0.65);
    border: 1px solid var(--blueCard);
    padding: 0.5rem;
    border-radius: 1rem;
  }

  .project-slider > .overlay-container {
    position: relative;
    cursor: pointer;

    @media (pointer: coarse) {
      & > .button-group {
        visibility: visible;
      }

      & > .button-group::before {
        visibility: visible;
        height: 100%;
      }
    }

    &:hover > .button-group,
    &:active > .button-group {
      visibility: visible;
    }

    &:hover > .button-group::before,
    &:active > .button-group::before {
      visibility: visible;
      height: 100%;
    }
  }

  .project-slider .title {
    color: var(--orange);
    font-size: 1.25rem;
  }
  .project-slider .description {
    font-size: clamp(0.75rem, 1.45vw, 0.875rem);
    font-weight: 400;
    margin-top: 0.5rem;
  }

  .overlay-container > .button-group {
    position: absolute;
    isolation: isolate;
    inset: 0 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    gap: 0.5rem;

    @media (pointer: coarse) {
      gap: 1rem;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0 0 0 0;
      z-index: -1;
      height: 0;
      border-radius: 1rem;
      visibility: hidden;
      background-color: var(--orange);
      opacity: 0.5;
      transition: all 0.3s ease-in-out;
    }
  }

  .overlay-container > .button-group > a {
    --w: 2rem;
    --bg: var(--orange);
    --fg: white;
    font-size: 0.75rem;
    padding: 0.5rem;

    & :global([astro-icon]) {
      width: 1rem;
      height: 1rem;
    }

    &:hover,
    &:active {
      --bg: white;
      --fg: var(--orange);
      --w: 5rem;
    }

    @media (pointer: coarse) {
      --bg: white;
      --fg: var(--orange);
      --w: 5rem;
    }
  }

  .project-slider .chips-group {
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    gap: 0.5rem;
  }
</style>
